<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h3>Template driven form</h3>
            {{clientsList2|json}}
            <form #f="ngForm">
                    <input type="text" ngModel 
                    name="firstName" 
                    #firstName="ngModel">
                    <ngr-multi-select  name="clientsList2" [items]="clientOptions" #dir="ngModel" [ngModel]="clientsList2" ngrMinOptionsRequired>
                    </ngr-multi-select>
            </form>
            {{f.invalid}}
        </div>
        <div class="col-md-6">
            <h3>Reactive forms</h3>
            <form [formGroup]="simpleForm">
                <div formGroupName="userData">
                    <div class="formgroup">
                        <label for="username">UserName</label>
                        <input type="text" class="form-control" id="username" formControlName="username">
                        <span class="help-block" *ngIf="!simpleForm.get('userData.username').valid&&simpleForm.get('userData.username').touched">
                            <span *ngIf="simpleForm.get('userData.username').errors['required']">field is required</span>
                        </span>
                    </div>
                </div>
                <div class="formgroup">
                    <label for="multiselect" name="favorite">My favorites</label>
                    <!-- <ngr-multi-select formControlName="clientsList" [items]="clientOptions"> -->
                        <!-- <ng-template ngrMultiSelectTemplate let-item>
                            <label class="multiselect-temp-label">{{item?.name}}</label>&nbsp;
                            <img [src]="item?.src" alt="item.srcTitle">
                            <label class="multiselect-temp-label2">{{item?.city}}</label>
                        </ng-template> -->
                    <!-- </ngr-multi-select> -->
                    <!-- <span *ngIf="simpleForm.get('clientsList').errors?.error&&simpleForm.get('clientsList').touched">{{simpleForm.get('clientsList').errors?.error}}</span>                     -->
                </div>
                <!-- {{simpleForm.get('clientsList').touched}}---
                {{simpleForm.get('clientsList').value|json}} -->
                <button class="btn btn-success" (click)="onSub()"  [disabled]="simpleForm.invalid">Submit</button>
            </form>
        </div>
    </div>
</div>
